<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ebook</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/8240eb0932.js" crossorigin="anonymous"></script>

  <style>
    .btn-leo {
  background-color: black !important;
  color: white !important;
  border: white 1px solid !important;

}
  </style>
  </head>
  <body>
    <div class="text-center" style="background-color: black; color: white; padding-top: 150px; padding-bottom: 100px;">
  <br>
  <img src="https://i.ibb.co/cxZwyxZ/ll-logov2-og.png" alt="" style="max-height: 150px;" class="img-fluid">
  <h1 style="font-family: 'Raleway', sans-serif;">Leonardo Luxburg</h1>
  <h3>Software Developer</h3>
  <br>
  <div class="container">
  <div class="row">
    <div class=" col-4 redes">
      <h1 ><a href="https://www.instagram.com/leonardoluxburg/" style="color: white;"> <i class="fab fa-instagram"></i></a></h1>
    </div>
    <div class="col-4 redes">
      <h1><a href="https://github.com/leoluxburg" style="color: white;"><i class="fab fa-github" aria-hidden="true"></a></i></h1>
    </div>
    <div class="col-4 redes">
      <h1><a href="https://twitter.com/leonardoluxburg" style="color: white;"><i class="fab fa-twitter"></i></a></h1>
    </div>
  </div>
  </div>
  <br>
  <h3><i class="fas fa-angle-down"></i></h3>
  <br>
</div>
<div class="" style="background-color: white;">
  <div class="container">
    <br>
    {% block content %}
    <br>
    <h1 style="font-size: 54px; font-family: 'Raleway', sans-serif; padding-top: 50px;">BMO Ebook</h1>

    <div class="row">
      <div class="col-md-6" style="padding-right: 50px;">
        <p style="text-align: justify;">bmoproject.com es un proyecto que nace a partir de la iniciativa de compartir conocimientos, pensamientos y habilidades. La idea se basa en generar y estructurar contenido educativo que guíe el aprendizaje y fomente el emprendimiento en el mundo digital. El objetivo es servir como un canal de educación alternativa y formar una comunidad donde los participantes se impulsen unos a otros a desarrollarse, crecer y seguir aprendiendo. <br> </p>
        <br>
        <h2>Contenido:</h2>
        <p style="text-align: justify;">
          <i class="fa-solid fa-play" style=" padding-right: 2px;" ></i> CAPITULO I: BMOPROJECT <br>
         <i class="fa-solid fa-play" style=" padding-right: 2px;" ></i> CAPITULO II: Programación <br>
         <i class="fa-solid fa-play" style=" padding-right: 2px;" ></i> CAPITULO III: Desarrollo de Software <br>
         <i class="fa-solid fa-play" style=" padding-right: 2px;" ></i> CAPITULO IV: Lenguajes de Programación <br>
         <i class="fa-solid fa-play" style=" padding-right: 2px;" ></i> CAPITULO V: Terminal <br>
         <i class="fa-solid fa-play" style=" padding-right: 2px;" ></i> CAPITULO VI: Como empezar a programar <br>
         <i class="fa-solid fa-play" style=" padding-right: 2px;" ></i> CAPITULO VII: POO <br>
         <i class="fa-solid fa-play" style=" padding-right: 2px;" ></i> CAPITULO VIII: Frameworks <br>
         <i class="fa-solid fa-play" style=" padding-right: 2px;" ></i> CAPITULO IX: Debugging <br>
         <i class="fa-solid fa-play" style=" padding-right: 2px;" ></i> CAPITULO X: Backend vs Frontend
       </p>
     </div>
     <div class="col-md-6">
       <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <p>Cover:</p>
        <div style="text-align: center;">
          <img src="https://i.ibb.co/Nxj5YnS/1691620829.png" alt="1691620829" border="0" height='300px'>
        </div>
        <br>
         <div class="">
          <h5 style="font-family: 'Raleway', sans-serif; "> <i class="fas fa-book"></i> 10 Capitulos | <i class="fas fa-language"></i> ES | <i class="fas fa-pencil-alt"></i> @leonardoluxburg  </h5>
          <h3>$1.99</h3>
          <a href="/pago" class="btn btn-leo"><i class="fas fa-shopping-cart"></i> Buy now</a>
        </div>

      </div>
    </div>
  </div>
  <br>
  <br>
  {% endblock %}
</div>
</div>
<br>
<br>
<br>
<div style="background-color: black; color: white;">
  <br>
  <div class="container ">
    <br>
    <br>
    <div class="row">
      <div class="col-md-1 "></div>
      <div class="col-md-4">
        <a href="/"><img src="https://i.ibb.co/wgPck7n/Untitled-design-10.png" alt="Untitled-design-10" height="150"></a>
        <br>
        <br>
      </div>
      <div class="col-md-3 ">
        <h3 style="font-family: 'Raleway', sans-serif;">Social Media</h3>
        <p><i class="fab fa-instagram"></i> Instagram</p>
        <p><i class="fab fa-twitter"></i> Twitter</p>
      </div>

      <div class="col-md-3">
        <h3 style="font-family: 'Raleway', sans-serif;">Contacto</h3>
        <p><i class="fas fa-envelope"></i> leonardoluxburg@gmail.com</p>
        <p><i class="fas fa-phone"></i> +507 6288-3330</p>
        <p><i class="fas fa-map-marker-alt"></i> Panamá city, Panamá</p>
      </div>
      <div class="col-md-1 "></div>

    </div>

  </div>
  <br>
  <br>
  <br>
</div>
<div class="footer2" style="background-color: black;">
  <div class="container text-center " style="padding-top: 8px; padding-bottom: 8px;">
    <h6 style="color: white;">©2023 LeonardoLuxburg</h6>
  </div>
</div>
  </body>
</html>
